<h1>Héroes <small>Marvel y DC</small></h1>
<hr>

<div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="heroes.length === 0">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Cerrar</span>
    </button>
    <strong>No existe ningún héroe con el término </strong> {{termino}}
</div>

<div class="card-columns">
    <app-heroe-tarjeta [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>
</div>